@font-face {
  font-family: "Monument";
  src: url(fonts/PPMonumentExtended-Bold.woff);
  /* src: url(fonts/PPMonumentExtended-Bold.otf); */
}

@font-face {
  font-family: "Fragment";
  src: url(fonts/FragmentMono-Regular.otf);
}

@font-face {
  font-family: "Fragment Italic";
  src: url(fonts/FragmentMono-Italic.otf);
}

*
{
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Fragment";
  font-size: .8em;
  max-width: 1600px;
  margin: 0 auto;
}

p {
  margin-bottom: 20px;
}

em {
  font-family: "Fragment Italic";
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

section {
  margin-top: 1px;
  padding-top: 20px;
  border-bottom: 1pt solid #ffffff;
}

.project-title {
  font-family: "Monument";
  text-transform: uppercase;
}

.last {
  border-bottom: 1pt solid #000000;
}

.gif {
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.carousel {
  cursor: pointer;
}

.container {
  max-width: 100%;
}

@media only screen and (max-width: 925px) {
  .container {
    max-width: 100vw;
  }
}

.bottom-gradient {
  position: fixed;
  z-index: 2;
  width: 50vw;
  height: 30vh;
  left: 50vw;
  bottom: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  pointer-events: none;
}

@media only screen and (max-width: 925px) {
  .bottom-gradient {
    width: 100vw;
    height: 20vh;
    left: 0;
    /* display: none; */
  }
}

.left-pane {
  position: fixed;
  width: min(50vw, 800px); /* 50% de la largeur, mais ne dépasse pas 1024px */
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.right-pane {
  margin-left: min(50vw, 800px); /* Aligné avec la largeur de left-pane */
  width: min(50vw, 800px);
  padding: 20px;
  padding-bottom: 70vh;
  box-sizing: border-box;
}

@media only screen and (max-width: 1600px) {
  .left-pane,
  .right-pane {
    width: 50vw;
  }

  .right-pane {
    margin-left: 50vw;
  }
}

@media only screen and (max-width: 925px) {
  .left-pane {
    display: none;
  }
  .right-pane {
    margin-left: 0;
    width: 100vw;
  }
}

.left-pane--logo {
  font-family: "Monument";
  font-size: clamp(1rem, 5vw, 90px);
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1pt solid #ffffff;
  cursor: pointer;
}

.right-pane--logo {
  font-family: "Monument";
  font-size: 10vw;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border-bottom: 1pt solid #ffffff;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 20px;
  width: calc(100vw - 40px);
  display: none;
  z-index: 3;
  cursor: pointer;
}

.right-pane--logo::before {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  display: block;
}

@media only screen and (max-width: 925px) {
  .left-pane--logo {
    display: none;
  }
  .right-pane--logo {
    display: block;
  }
  .top-gradient {
    display: none;
  }
}

.left-pane--logo--btn:hover {
  cursor: pointer;
}

.left-pane--separator {
  border-top: 1px solid #ffffff;
  margin-bottom: 20px;
}

.right-pane--separator {
  border-top: 1px solid #ffffff;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  z-index: 3;
}

.left-pane--projects-list {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px) contrast(90%);
  -webkit-backdrop-filter: blur(20px) contrast(90%);
  display: none;
  z-index: 9;
  pointer-events: none;
}

@media only screen and (max-width: 925px) {
  .left-pane--projects-list {
    position: fixed;
    top: 15vh;
    width: 100%;
    height: 80vh !important;
    overflow-y: auto;
    z-index: 10;
    display: none;
  }
}

.left-pane--projects-list--row {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  /* transition-property: border-bottom;
  transition-duration: .1s;
  transition-delay: .1s; */
}

.left-pane--projects-list--row.project:hover {
  cursor: pointer;
}

.left-pane--projects-list--year {
  width: 14%;
}

.left-pane--projects-list--title {
  width: 55%;
  padding-bottom: .15rem;
  padding-bottom: .15rem;
}

.left-pane--projects-list--category {
  width: 30%;
  text-align: right;
}

@media only screen and (max-width: 925px) {
  .left-pane--projects-list--year {
    width: 14%;
  }
  
  .left-pane--projects-list--title {
    width: 55%;
    padding-bottom: .15rem;
    padding-bottom: .15rem;
  }
  
  .left-pane--projects-list--category {
    display:none;
  }
}

.right-pane--img-project {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  pointer-events: auto;
}

.vimeo-player {
  margin-bottom: 20px;
}

audio {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 925px) {
  li {
    margin-left: 2em;
  }
}
